@import "tailwindcss";

html {
  font-size: 110%;
}


.input-style {
  @apply w-full px-4 py-3 rounded-lg border text-base transition focus:outline-none focus:ring-2;
}

/* Dark mode inputs */
@media (prefers-color-scheme: dark) {
  .input-style {
    @apply bg-slate-800 border-slate-700 text-gray-300 placeholder-slate-500 focus:ring-blue-500;
  }
}

/* Light mode inputs */
@media (prefers-color-scheme: light) {
  .input-style {
    @apply bg-orange-50 border-orange-300/60 text-gray-900 placeholder-gray-600 focus:ring-orange-500;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.8s ease forwards;
}

/* Light Mode Theme Colors */
:root {
  --light-mode-primary: #FF8C00;
  --dark-mode-primary: #ffffff;
}